.alertBubble{background-color:#e90c45;
            color:#ffffff;
            overflow:hidden;
            padding:3px 4px;
            display:inline-block;
            position:absolute;
            margin-top:-5px;}

.lembreteGrid2 {border: none !important;
}

.strongLabel{
          background-color: beige;
          box-shadow: 0 1px 0 #000;
          font-size: x-large;
}

.formLabel{
    font-size: small;
}

.semBorda{
    border: none !important;
}