@font-face {
	font-family: 'ozelo';
	src:url('../fonts/ozelo.eot?s7zejr');
	src:url('fonts/ozelo.eot?s7zejr#iefix') format('embedded-opentype'),
		url('fonts/ozelo.ttf?s7zejr') format('truetype'),
		url('fonts/ozelo.woff?s7zejr') format('woff'),
		url('fonts/ozelo.svg?s7zejr#ozelo') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ozelo' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.oz-cliList .path1:before {
	content: "\e900";
	color: rgb(0, 0, 0);
}
.oz-cliList .path2:before {
	content: "\e901";
	margin-left: -1.19140625em;
	color: rgb(255, 255, 255);
}
.oz-cliList .path3:before {
	content: "\e902";
	margin-left: -1.19140625em;
	color: rgb(0, 0, 0);
}
.oz-clipboard32:before {
	content: "\e903";
}
.oz-cliPJ:before {
	content: "\e904";
}
.oz-cliPJAdd .path1:before {
	content: "\e905";
	color: rgb(0, 0, 0);
}
.oz-cliPJAdd .path2:before {
	content: "\e906";
	margin-left: -1.0068359375em;
	color: rgb(255, 255, 255);
}
.oz-cliPJAdd .path3:before {
	content: "\e907";
	margin-left: -1.0068359375em;
	color: rgb(0, 0, 0);
}
.oz-cliAdd1:before {
	content: "\e908";
}
.oz-icomoon2:before {
	content: "\e909";
}
.oz-alerta:before {
	content: "\e90a";
}
.oz-icomoon:before {
	content: "\e90b";
}
.oz-lojaPend .path1:before {
	content: "\e90c";
	color: rgb(0, 0, 0);
}
.oz-lojaPend .path2:before {
	content: "\e90d";
	margin-left: -1.0693359375em;
	color: rgb(255, 255, 255);
}
.oz-lojaPend .path3:before {
	content: "\e90e";
	margin-left: -1.0693359375em;
	color: rgb(0, 0, 0);
}
.oz-multaAlerta .path1:before {
	content: "\e90f";
	color: rgb(0, 0, 0);
}
.oz-multaAlerta .path2:before {
	content: "\e910";
	margin-left: -0.7587890625em;
	color: rgb(255, 255, 255);
}
.oz-multaAlerta .path3:before {
	content: "\e911";
	margin-left: -0.7587890625em;
	color: rgb(0, 0, 0);
}
.oz-multaList .path1:before {
	content: "\e912";
	color: rgb(0, 0, 0);
}
.oz-multaList .path2:before {
	content: "\e913";
	margin-left: -0.9013671875em;
	color: rgb(255, 255, 255);
}
.oz-multaList .path3:before {
	content: "\e914";
	margin-left: -0.9013671875em;
	color: rgb(0, 0, 0);
}
.oz-office4:before {
	content: "\e915";
}
.oz-multa:before {
	content: "\e916";
}
.oz-terra2:before {
	content: "\e917";
}
.oz-user2:before {
	content: "\e918";
}
.oz-cliAdd2:before {
	content: "\e919";
}
.oz-veicAdd .path1:before {
	content: "\e91a";
	color: rgb(0, 0, 0);
}
.oz-veicAdd .path2:before {
	content: "\e91b";
	margin-left: -1.2138671875em;
	color: rgb(255, 255, 255);
}
.oz-veicAdd .path3:before {
	content: "\e91c";
	margin-left: -1.2138671875em;
	color: rgb(0, 0, 0);
}
.oz-veicList .path1:before {
	content: "\e91d";
	color: rgb(0, 0, 0);
}
.oz-veicList .path2:before {
	content: "\e91e";
	margin-left: -1.3056640625em;
	color: rgb(255, 255, 255);
}
.oz-veicList .path3:before {
	content: "\e91f";
	margin-left: -1.3056640625em;
	color: rgb(0, 0, 0);
}
.oz-veicPend .path1:before {
	content: "\e920";
	color: rgb(0, 0, 0);
}
.oz-veicPend .path2:before {
	content: "\e921";
	margin-left: -1.3779296875em;
	color: rgb(255, 255, 255);
}
.oz-veicPend .path3:before {
	content: "\e922";
	margin-left: -1.3779296875em;
	color: rgb(0, 0, 0);
}
.oz-perigo:before {
	content: "\e923";
}
.oz-24horas:before {
	content: "\e924";
}
.oz-ascendant12:before {
	content: "\e925";
}
.oz-bank11:before {
	content: "\e926";
}
.oz-car81:before {
	content: "\e927";
}
.oz-car82:before {
	content: "\e928";
}
.oz-check83:before {
	content: "\e929";
}
.oz-relogio1:before {
	content: "\e92a";
}
.oz-relogio2:before {
	content: "\e92b";
}
.oz-clock125:before {
	content: "\e92c";
}
.oz-clock126:before {
	content: "\e92d";
}
.oz-cogwheels:before {
	content: "\e92e";
}
.oz-commercial18:before {
	content: "\e92f";
}
.oz-counterclockwise9:before {
	content: "\e930";
}
.oz-credit73:before {
	content: "\e931";
}
.oz-descending9:before {
	content: "\e932";
}
.oz-documents51:before {
	content: "\e933";
}
.oz-dollar141:before {
	content: "\e934";
}
.oz-dollar1782:before {
	content: "\e935";
}
.oz-dollars29:before {
	content: "\e936";
}
.oz-email20:before {
	content: "\e937";
}
.oz-errorss:before {
	content: "\e938";
}
.oz-exclamation34:before {
	content: "\e939";
}
.oz-factory6:before {
	content: "\e93a";
}
.oz-file204:before {
	content: "\e93b";
}
.oz-finance:before {
	content: "\e93c";
}
.oz-financial:before {
	content: "\e93d";
}
.oz-fuel5:before {
	content: "\e93e";
}
.oz-gearwheels:before {
	content: "\e93f";
}
.oz-half40:before {
	content: "\e940";
}
.oz-hand132:before {
	content: "\e941";
}
.oz-hour11:before {
	content: "\e942";
}
.oz-house118:before {
	content: "\e943";
}
.oz-house120:before {
	content: "\e944";
}
.oz-house121:before {
	content: "\e945";
}
.oz-inbox50:before {
	content: "\e946";
}
.oz-infinite9:before {
	content: "\e947";
}
.oz-magnifyingglass57:before {
	content: "\e948";
}
.oz-paint56:before {
	content: "\e949";
}
.oz-pig5:before {
	content: "\e94a";
}
.oz-planet302:before {
	content: "\e94b";
}
.oz-printing20:before {
	content: "\e94c";
}
.oz-quarter3:before {
	content: "\e94d";
}
.oz-quarter4:before {
	content: "\e94e";
}
.oz-quarter5:before {
	content: "\e94f";
}
.oz-sand22:before {
	content: "\e950";
}
.oz-sand23:before {
	content: "\e951";
}
.oz-sand24:before {
	content: "\e952";
}
.oz-screwdriver16:before {
	content: "\e953";
}
.oz-security39:before {
	content: "\e954";
}
.oz-sedan1:before {
	content: "\e955";
}
.oz-shields21:before {
	content: "\e956";
}
.oz-thumbtack1:before {
	content: "\e957";
}
.oz-time26:before {
	content: "\e958";
}
.oz-time27:before {
	content: "\e959";
}
.oz-time29:before {
	content: "\e95a";
}
.oz-tools6:before {
	content: "\e95b";
}
.oz-van14:before {
	content: "\e95c";
}
.oz-vans1:before {
	content: "\e95d";
}
.oz-worker37:before {
	content: "\e95e";
}
.oz-wrench44:before {
	content: "\e95f";
}
.oz-wrench732:before {
	content: "\e960";
}
.oz-wrench73:before {
	content: "\e800";
}
.oz-planet30:before {
	content: "\e802";
}
.oz-terra:before {
	content: "\e839";
}
.oz-power5:before {
	content: "\e806";
}
.oz-barscode:before {
	content: "\e807";
}
.oz-office42:before {
	content: "\e808";
}
.oz-finance-and-business4:before {
	content: "\e809";
}
.oz-data-analytics1:before {
	content: "\e80a";
}
.oz-contrato:before {
	content: "\e80b";
}
.oz-businessman276:before {
	content: "\e80c";
}
.oz-negocioOk:before {
	content: "\e80e";
}
.oz-agreement1:before {
	content: "\e80d";
}
.oz-medal:before {
	content: "\e80f";
}
.oz-camera:before {
	content: "\e810";
}
.oz-streetlight:before {
	content: "\e811";
}
.oz-archive:before {
	content: "\e812";
}
.oz-books:before {
	content: "\e813";
}
.oz-tools:before {
	content: "\e814";
}
.oz-pin11:before {
	content: "\e801";
}
.oz-pin:before {
	content: "\e815";
}
.oz-pin2:before {
	content: "\e816";
}
.oz-pushpin:before {
	content: "\e818";
}
.oz-key:before {
	content: "\e817";
}
.oz-coins:before {
	content: "\e81b";
}
.oz-dollar178:before {
	content: "\e803";
}
.oz-coin-dollar:before {
	content: "\e81c";
}
.oz-dollar:before {
	content: "\e819";
}
.oz-dollar4:before {
	content: "\e858";
}
.oz-cofre:before {
	content: "\e81d";
}
.oz-barcode:before {
	content: "\e81e";
}
.oz-barcode2:before {
	content: "\e81f";
}
.oz-clipboard:before {
	content: "\e820";
}
.oz-clipboard2:before {
	content: "\e821";
}
.oz-pencil:before {
	content: "\e822";
}
.oz-user7:before {
	content: "\e805";
}
.oz-user:before {
	content: "\e823";
}
.oz-users:before {
	content: "\e824";
}
.oz-user-plus:before {
	content: "\e825";
}
.oz-user-minus:before {
	content: "\e837";
}
.oz-user-check:before {
	content: "\e826";
}
.oz-plus:before {
	content: "\e827";
}
.oz-minus:before {
	content: "\e828";
}
.oz-blocked:before {
	content: "\e829";
}
.oz-cross:before {
	content: "\e82a";
}
.oz-checkmark:before {
	content: "\e82b";
}
.oz-checkmark2:before {
	content: "\e82c";
}
.oz-circle-down:before {
	content: "\e82d";
}
.oz-radio-checked:before {
	content: "\e82e";
}
.oz-alfinete:before {
	content: "\e84f";
}
.oz-position:before {
	content: "\e82f";
}
.oz-radio-checked2:before {
	content: "\e830";
}
.oz-radio-unchecked:before {
	content: "\e831";
}
.oz-filter:before {
	content: "\e832";
}
.oz-mail2:before {
	content: "\e833";
}
.oz-clipboard3:before {
	content: "\e834";
}
.oz-office:before {
	content: "\e835";
}
.oz-mail3:before {
	content: "\e836";
}
.oz-clipboard4:before {
	content: "\e838";
}
.oz-checkmark3:before {
	content: "\e83a";
}
.oz-tag:before {
	content: "\e83b";
}
.oz-tag2:before {
	content: "\e83c";
}
.oz-cabinet:before {
	content: "\e83d";
}
.oz-cabinet2:before {
	content: "\e83e";
}
.oz-files:before {
	content: "\e83f";
}
.oz-checkmark4:before {
	content: "\e840";
}
.oz-cancel:before {
	content: "\e841";
}
.oz-cancel2:before {
	content: "\e842";
}
.oz-plus2:before {
	content: "\e843";
}
.oz-plus3:before {
	content: "\e844";
}
.oz-minus2:before {
	content: "\e845";
}
.oz-minus3:before {
	content: "\e846";
}
.oz-notice:before {
	content: "\e847";
}
.oz-notice2:before {
	content: "\e848";
}
.oz-newspaper:before {
	content: "\e849";
}
.oz-profile4:before {
	content: "\e84a";
}
.oz-profile:before {
	content: "\e84b";
}
.oz-profile2:before {
	content: "\e84c";
}
.oz-profile3:before {
	content: "\e84d";
}
.oz-cone:before {
	content: "\e84e";
}
.oz-cog:before {
	content: "\e851";
}
.oz-triangle45:before {
	content: "\e804";
}
.oz-warning:before {
	content: "\e852";
}
.oz-hand:before {
	content: "\e853";
}
.oz-locked:before {
	content: "\e854";
}
.oz-unlocked:before {
	content: "\e855";
}
.oz-bomb:before {
	content: "\e856";
}
.oz-pig:before {
	content: "\e859";
}
.oz-car:before {
	content: "\e85a";
}
.oz-barcode3:before {
	content: "\e85b";
}
.oz-barcode4:before {
	content: "\e85c";
}
.oz-books2:before {
	content: "\e85e";
}
.oz-bubbles4:before {
	content: "\e85f";
}
.oz-ozelo:before {
	content: "\e850";
}

