#container{
    position: relative;
    margin: auto;
   margin-bottom: 10px;
}

#areaconteudo{
    position: relative;
    margin: auto;
 
}

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 3px;
    margin: 0 auto;
    height: 70px;
    margin-bottom: 5px;
    
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
    text-decoration : underline;
}


